<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HackerTon.NFC_Hack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/apk_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.example.HackerTon.NFC_Hack.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.readFromIntent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Calling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Uriconnect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.UriTab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Erase"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostProperty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostBus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostSubway"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostTaxi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Public_institution"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.HackerTon.NFC_Hack.SendingMessage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.example:externaltype"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Bus"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostBus2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostTaxi2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Taxi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostSubway2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.LostSubway3"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.HackerTon.NFC_Hack.Subway"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>